**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
/Models/SCRNN_organized/outputs/*
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
**/.DS_Store
